@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap'); /* HEBREW FONT */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400..700&family=Varela+Round&display=swap'); /* ENGLISH FONT */

:root{
    --formBackground: #bae0e3;
    --formBorder: #91999b;
    --fieldBorder: #3f555c;
    --outputBackground: #b3b5b5;
    --buttonBackground: #b2b2b2;
    --buttonBorder: #676e6f;
    /* Header Background*/
    --darkBlue: #345ca2;  
    --lightBlue: #426ec0;
    /* Header Buttons */
    --purple: hsl(263, 54%, 35%);
    --light-slate-blue: hsl(252, 100%, 67%); 
    --light-royal-blue: hsl(241, 81%, 54%); 
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-size: 62.5%;
    height: 100%;

    body {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}
.container {
    button {
        background: linear-gradient(to bottom, var(--light-slate-blue) 20%, var(--light-royal-blue) 90%);
        color: white;
        font-weight: 700;
        border: none;
        border-radius: 2rem; 
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;
        padding: 0.7rem;
        margin: 0.7rem 0.7rem;
    }

    button:hover{
        background: linear-gradient(to bottom, var(--light-slate-blue) 20%, var(--purple) 90%);
        transform: translateY(-2px);
    }
}

/* HEADER */
#headerNav {
    background: linear-gradient(to right, var(--darkBlue) 20%, var(--lightBlue) 50%, var(--darkBlue) 100%);
    border: 2px solid black;
    padding: 2rem;

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 3fr 2fr 2fr;
        max-width: 1050px;
        margin: 0 auto;

        .brandName {
            font-size: 1.5rem;
            text-align: center;
            h1 a, h2 a {
                color: #ca8606;
            }
            h2 a {
                font-size: 2rem;
            }
        }
        
        .logoImg {
            margin-left: auto; /* Push to the right */
        }

        .navButtonsRow2, .navButtonsRow3 {
            grid-column: 1 / -1; /* Take full row */
            display: flex;
            justify-content: space-around; /* EVEN SPACING */
            margin-top: 1rem;
        }
        .navButtonsRow2 {
            grid-row: 2;
        }
        .navButtonsRow3 {
            grid-row: 3;
            padding: 0 12rem;
        }
    }
}

a {
    text-decoration: none;
}
/* END HEADER */

/* BODY */
.form {
    background-color: var(--formBackground);
    border: 2px solid var(--formBorder);
    margin: 2rem auto;
    width: 60%;
    aspect-ratio: 4/3;
    min-width: 400px; /* ADJUST LATER */
    max-width: 600px; /* ADJUST LATER */
    padding: 1rem;
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;

    h2 {
        text-align: center;
        font-size: 2.2rem;
    }
    .buttons {
        grid-row: 3;
        display: grid;
        grid-template-columns: 1fr 6fr;

        button {
            grid-column: 2;
            background-color: var(--buttonBackground);
            border: 2px solid var(--buttonBorder);
            margin: 10px;
            padding: 1rem;
        }

        .mainButtons {
            display: flex;
            justify-content: right;
        }
    }
}

#queriesOptions{
    .container{
        width: 50%;
        margin: 2rem auto;
        display: flex;
        justify-content: space-around;
    }
}

table{
    padding: 2rem 0;
    width:100%;
}


/* END BODY */
